<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rexllc.sketchshop.installer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="29" />
        
    <uses-permission	android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
	<uses-permission	android:name="android.permission.INSTALL_PACKAGES"/>

    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" >
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rexllc.sketchshop.installer.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>